@mixin prefix($property, $value) {
  //$vendors: 'webkit moz ms o';
  $vendors: webkit moz ms o;
  $default: true;

  // -moz-$property: $value;
  // -webkit-$property: $value;
  // -o-$property: $value;
  // -ms-$property: $value;
  // property: $value
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }

  @if $default {
    #{$property}: #{$value};
  }
}

@mixin font-size($size) {
  $base: 16;
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin transition($time) {
  @include prefix(transition, all $time);
}

@mixin shadow($x, $y, $spread, $color, $opacity) {
  @include prefix(box-shadow, $x $y $spread 0px rgba($color, $opacity));
}
