@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

::selection {
  color: $white;
  background: $primary-color;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: url(../../assets/images/noise.png) center repeat, $neutral;
}

.section {
  &_container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.dnone {
  display: none;
}
