@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.input {
  &_row {
  }

  padding: 0.8rem 0.8rem;
  border: 1px solid $gray2;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 500px;

  @media only screen and (max-width: 500px) {
    max-width: 100%;
    font-size: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
